@page
@model FundRaiserCloudWeb.Pages.Admin.Benefits.CreateModel

<form method="post">
    @*<input asp-for="Benefit.Id" hidden />*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Benefit</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Benefit.Name"></label>
            <input asp-for="Benefit.Name" class="form-control" />
            <span asp-validation-for="Benefit.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Benefit.Description"></label>
            <input asp-for="Benefit.Description" class="form-control" />
            <span asp-validation-for="Benefit.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Benefit.Price"></label>
            <input asp-for="Benefit.Price" class="form-control" />
            <span asp-validation-for="Benefit.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Benefit.ProjectId"></label>
            <select asp-for="Benefit.ProjectId" asp-items="Model.ProjectList" class="form-select">
                <option disabled selected>-Select Benefit-</option>
            </select>
            <span asp-validation-for="Benefit.ProjectId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px"> Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}