@page
@model FundRaiserCloudWeb.Pages.Dashboard.IndexModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body>
    <div class="nav-item">
        <h1> <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Dashboard of @UserManager.GetUserName(User)! </a></h1>
    </div>
        <h2></h2>
        <h3>Projects</h3>
        <table id="bestid" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Days Remaining</th>
                    <th>Invested Volume</th>
                    <th>Category</th>
                </tr>
            </thead>
         </table>

    <h2></h2>
    <h3>List of Benefits</h3>
    <table id="bestid" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Invested Amount</th>
            </tr>
        </thead>
    </table>
</body>